<h3>Update Project Details </h3>

<form action="/api/updateone" method="POST" autocomplete="off" enctype="multipart/form-data" >
    <input type="hidden" name="_id" value="{{Projects._id}}">
     <div class="form-group">
        <label > please enter Your name</label>
        <input type="text" class="form-control" name="name"  id="name" required="" value="{{Projects.userName}}">
    <div class="form-group">
     <div class="form-group">
        <label > enter Project Info </label>
        <input type="text" class="form-control" name="fileInfo"  id="fileInfo" required="" value="{{Projects.projectInfo}}">
    <div class="form-group">  <br>  

    <div class="form-group">
        <input type="file" class="form-control" name="fileName" id="fileName" >
    <div class="form-group"><br>


    <div class="form-group">
        <button type="submit" class="btn btn-info" style="position: center;"><i class="fa fa-database"></i>Update</button>
    </div>
</form>